/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require foundation_and_overrides
 *= require_tree .
 */

 .image_box,.container{
 	display: table;
    margin: 0 auto;
    width: 80%;

 }
 .small-1{
 }
 .large-10,.small-1{
    height: 100%;
     
 }
 .large-10{

   box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);

background-image:url('brickwall_@2X.png');
 }
 .container{
    background-color:#53868B;
    height: 100%;
 }

.centered{
	display: table;
    margin: 0 auto;
}

.radius_button{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
 
.visible{
	display: inline;
	top: 20px;
	left: 20px;
	width: 200px;
}
.invisible{
	display:none;
}

.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}

.fancybox-title-over-wrap > div {
    padding: 10px;
}

#frame{
width:140px;
height:140px;
overflow:hidden;
float: left;
}

#frame img{
height:auto;
min-width:140px;
min-height:140px;
}