/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
  *= require fancybox
 *= require foundation_and_overrides
 *= require_tree .
 */



.image_box {
    display: table;
    margin: 0 auto;
    width: 100%;

}

.centered {
    display: table;
    margin: 0 auto;
    width: 100%
}

.radius_button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*visibility*/
.visible {
    display: inline;
    top: 20px;
    left: 20px;
    width: 200px;
}

.invisible {
    display: none;
}

/*fancybox title apears on hover*/
.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}

.fancybox-title-over-wrap > div {
    padding: 10px;
}

/*crop thumbnails*/
.frame {
    overflow: hidden;
    width: 140px;
    height: 140px;

}

.frame img {
    width: 140px;
    min-height: 140px;

}

/* Body styles depend on time */

.bodystyle1 {
    background-image: url('brickwall_@2X.png');
}

.bodystyle3 {
    background-image: url('fresh_snow.png');
}

.bodystyle2 {
    background-image: url('grey_wash_wall_@2X.png');
}

.bodystyle4 {
    background-image: url('tweed_@2X.png');
}


/*menu*/
.empty{height: 100px;}
#menu{ width:100%; }



a:visited, a:link, a:active {color: #000;}
.menu a:hover   {color:grey;}
.toggle_menu {font-size: 16pt;}
.logo{display: inline; font-weight: bold; font-size: 18pt;float:right;}
.in-menu li {height: 50px; padding-top:20px;margin: 0 auto;display: table;width:100%;}
ul.inline-list{display: inline}
.fixed-content {
    width:100%;
    top:0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

#hidden_menu{border-bottom:3px normal orange;position:fixed;z-index: 5;  font-style:bold; background-color:#fff;width:100%;  }
.fixed{  position:fixed;z-index: 10}
#border{border-top: 5px solid orange;font-style:bold; background-color:#fff;}