/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require foundation_and_overrides
 *= require_tree .
 */
.visible{
	display: inline;
	top: 20px;
	left: 20px;
	width: 200px;
}
.invisible{
	display:none;
}

.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}

.fancybox-title-over-wrap > div {
    padding: 10px;
}

#frame{
width:140px;
height:140px;
overflow:hidden;
float: left;
}

#frame img{
height:auto;
min-width:140px;
min-height:140px;
}