.show-for-medium-up.padding
  .empty
  #menu
    #hidden_menu
      .row
        .large-12.column
          #toggle_menu2 &times;
        %hr  

          %ul.no-bullet.in-menu
            %li
              %h1 Text menu 1
            %hr
            %li
              %h1 Text menu 2
            %hr
            %li
              %h1 Text menu 3
            %hr
            %li
              %h1 Text menu4
            %hr
            %li Text menu 1
            %hr
            %li Text menu2
            %hr
            %li Text menu3
            %hr


                                       
    #border
      .row#with_bottom_border
        .large-12.column
          #toggle_menu{style:""}
            = '&#9782;'.html_safe
          .logo
            = link_to "logo", "#"


    